* {
	margin: 0;
	padding: 0;
}
#field, #field-two  {
    width: 200px;
    border: 10px groove black;
    background-color: #00FF00;
    position: relative;
}

#ball, #ball-two {
    position: absolute;
}